
@{
    ViewBag.Title = "Index";
}

<head>
    <link rel="stylesheet" type="text/css" href="~/Content/myStyles.css">
</head>

<div class="w3-bar w3-black">
    <a href="@Url.Action("Index", "Stack")" class="w3-bar-item w3-button">Stack</a>
    <a href="@Url.Action("Index", "Queue")" class="w3-bar-item w3-button">Queue</a>
    <a href="@Url.Action("Index", "Dictionary")" class="w3-bar-item w3-button">Dictionary</a>
    <a href="@Url.Action("Index", "Exit")" class="w3-bar-item w3-button">Exit</a>
</div>
